.cu{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: start;
}

.au__title-bottom{
    color: #F67E7E;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}